<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Weather Prediction-App</title>
    <link rel="stylesheet" href="..\assets\index-style.css">
</head>
<body>
    <div class="main">
        <div class="left-box">
            <center><h1 id ='high'>Madurai</h1></center>
            <div>
                <div class="lef-up">
                    <div>
                        <h3>Sunrise: 5.57 AM</h3>
                    </div>
                    <div>
                        <h3>Sunset: 6.00 PM</h3>
                    </div>
                </div>
                <div  class="left-down-box">
                    <div class="container-header">
                        <img class="image" src="..\assets\Location.png" alt="img">
                        <h2>Spots</h2>
                    </div>
                    <div class="container">
                        <img class="image" src="..\assets\image.png" alt="img">
                        <h2>abcdefgj</h2>
                    </div>
                    <div class="container">
                        <img class="image" src="..\assets\image.png" alt="img">
                        <h2>abcdefgj</h2>
                    </div>
                    <div class="container">
                        <img class="image" src="..\assets\image.png" alt="img">
                        <h2>abcdefgj</h2>
                    </div>
                    
                </div>
            
            </div>
               
        </div>
        <div class="right-box">
            <div id="right">
                <h1>37°C / 89.6°F</h1>
                <img class="img1" src="..\assets\img\Sun.png" alt="img">
            </div>
            <div class="right-inner">
                <div class="container">
                    <img class="image1" src="..\assets\img\Humidity.png" alt="img">
                    <h2>High Humidity</h2>
                </div>
                <div class="container">
                    <img class="image1" src="..\assets\img\Wind.png" alt="img">
                    <h2>High Wind Speed</h2>
                </div>
                <div class="container">
                    <img class="image1" src="..\assets\img\Cloud Lightning.png" alt="img">
                    <h2>High pressure</h2>
                </div>
            </div>
               
        </div>
    </div>
    
</body>
</html>