<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Weather Prediction-App</title>
    <link rel="stylesheet" href="../assets/predictburst-style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="./app/home.js" defer></script>
    <script src="./app/header.js" defer></script>
    <script src="./app/map.js" defer></script>
</head>
<body>
    <div class="sandwich-bar">
        <i class="fa fa-bars bar-position" onclick="toggleSidebar()"></i>
        <div class="climate-inverse-heading playwrite-hu">
            <center><h1>Climate <sup>-1</sup></h1></center>
        </div>
    </div>
    
    <div class="sidebar hidden">
        <h2>Sidebar</h2>
        <a href="#">Home</a>
        <a href="#">Predict</a>
        <a href="#">Contact</a>
        <article class="climate-inverse playwrite-hu">
            <h1>Climate <sup>-1</sup></h1> is a initiative to help people et real 
            \time weather data in a efficientand useful way
        </article>
    </div>
    <nav class="nav">
        <div class="nav-menu" id="navMenu">
            <ul>
                <li><a href="#" class="link">Home</a></li>
                <li><a href="#" class="link">About</a></li>
                <li><a href="#" class="link">Predict</a></li>
            </ul>
        </div>
    </nav>
    <div class="home-box">
        <div class="home-box1">
            <div class="explore">
                <form action="">
                    <div class="explore-container">
                        <label for="text"><h2 class="explore-text">Explore</h2></label>
                        <input type="text" name="text" id="text" placeholder="Type to search">
                        <button type="button"><b>Submit</b></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="home-box2">
                <h1 id="temp">27°C\38.5F</h1>
           <div class="contents">
                <div class="item" id="item">
                    <p><progress id="pressure-level" value="70" max="100">70%<p id="pressure-text">Pressure</p></progress>
                </div>
                <div class="item" id="item">
                    <p><progress id="humidity-level" value="70" max="100">70%<p id="humidity-text">Humidity</p></progress>
                </div>
                <div class="item" id="item">
                    <p><progress id="windspeed-level" value="50" max="100" >50%<p id="windspeed">Windspeed</p></progress>
                </div>
           </div>
        </div>
        <footer class="footer margarine-regular">
            <div class="footer-box1">
                <div class="climate-inverse playwrite-hu">
                    <h1>Climate <sup>-1</sup></h1>
                </div>
                <div class="social-media">
                    <a href="https://x.com/"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/login/"><i class="fa fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/accounts/login"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <div class="footer-box2">
                <div class="country-list">
                    <h3 class="continent-name">Asia</h3>
                    <ul>
                        <li><a href="#">China</a></li>
                        <li><a href="#">India</a></li>
                        <li><a href="#">Japan</a></li>
                        <li><a href="#">South Korea</a></li>
                        <li><a href="#">Indonesia</a></li>
                    </ul>
                </div>
                <div class="country-list">
                    <h3 class="continent-name">Africa</h3>
                    <ul>
                        <li><a href="#">Nigeria</a></li>
                        <li><a href="#">Egypt</a></li>
                        <li><a href="#">South Africa</a></li>
                        <li><a href="#">Kenya</a></li>
                        <li><a href="#">Morocco</a></li>
                    </ul>
                </div>
                <div class="country-list">
                    <h3 class="continent-name">North America</h3>
                    <ul>
                        <li><a href="#">United States</a></li>
                        <li><a href="#">Canada</a></li>
                        <li><a href="#">Mexico</a></li>
                        <li><a href="#">Cuba</a></li>
                        <li><a href="#">Jamaica</a></li>
                    </ul>
                </div>
                <div class="country-list">
                    <h3 class="country-name">South America</h3>
                    <ul>
                        <li><a href="#">Brazil</a></li>
                        <li><a href="#">Argentina</a></li>
                        <li><a href="#">Chile</a></li>
                        <li><a href="#">Colombia</a></li>
                        <li><a href="#">Peru</a></li>
                    </ul>
                </div>
                <div class="country-list">
                    <h3 class="country-name">Europe</a></h3>
                    <ul>
                        <li><a href="#">France</a></li>
                        <li><a href="#">United Kingdom</a></li>
                        <li><a href="#">Italy</a></li>
                        <li><a href="#">Spain</a></li>
                        <li><a href="#">Germany</a></li>
                    </ul>
                </div>
                <div class="country-list">
                    <h3 class="country-name">Australia</h3>
                    <ul>
                        <li><a href="#">Australia</a></li>
                        <li><a href="#">New Zealand</a></li>
                        <li><a href="#">Fiji</a></li>
                        <li><a href="#">Papua New Guinea</a></li>
                        <li><a href="#">Samoa</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-box3">
                <form>
                    <label for="email">Enter your Email to receive our updates!!!</label>
                    <br>
                    <input type="email" name="email" id="email" placeholder="someone@tce.edu">
                    <button type="button">Submit</button>
                </form>
            </div>
        </footer>
    </div>
</body>
</html>
