@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.footer{
        position:relative;
        display:flex;
        color:black;
        font-family: 'Poppins', sans-serif;
}
.footer>*{
        width:400px;
}
.footer::before{
    content:"";
    position:absolute;
    top:10%;
    left:0;
    right:0;
    bottom:10%;
    background:url('..\\assets\\img\\background.png') no-repeat center center/cover; 
    filter:blur(10px);
    z-index:-1;
}
.footer .footer-box2{
        display:grid;
        grid-template-columns:repeat(3, 1fr);
        grid-template-rows:repeat(2, 1fr);
        gap:20px;
        width:80%;
        max-width:1200px;
        margin:0 auto;
        align-items:end;
        text-align:center;
        justify-content:center;
}
.footer .footer-box2 .country-list{
        background-color:rgba(249, 249, 249, 0.5);
        padding:20px;
        border:1px solid #ddd;
        box-shadow:0 2px 4px rgba(0, 0, 0, 1);
        text-align:center;
        border-radius:10px;
}
.footer .footer-box2 .country-list ul{
        list-style-type:none;
        padding:0px;
}
.footer .footer-box2 .country-list ul li{
    margin:10px 0;
}
.footer .footer-box2 .country-list ul li:hover {
    margin:5px 0;
    padding:0px; 
    border-bottom:2px solid #000;
    transition:margin 0.3s ease-in-out, padding 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}
.footer-box3{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        text-align:center;
        padding:20px;
}
.fa{
        padding:20px;
}
footer a:hover{
    color:blue;
}
.fa-facebook-f{
    background-color:rgb(45, 45, 148);
    border-radius:5px 200%;
    color:white;
}
.fa-facebook-f:hover{
    background-color:white;
    border-radius:5px 200%;
    color:rgb(45, 45, 148);
}

.fa-twitter{
    background-color:#1da1f2;
    border-radius:5px 200%;
    color:white;
}
.fa-twitter:hover{
    background-color:white;
    border-radius:5px 200%;
    color:#1da1f2;
}

.fa-instagram{
    background-color:#e1306c;
    border-radius:5px 200%;
    color:white;
}
.fa-instagram:hover{
    background-color:white;
    border-radius:5px 200%;
    color:#e1306c;;
}
.playwrite-hu{
    font-family:"Playwrite HU", cursive;
    font-optical-sizing:auto;
    font-weight:60;
    font-style:normal;
  }
.climate-inverse{
        justify-content:center;
        align-items:center;
        text-align:center;
        width:65%;
        color:black;
}
sup{
        font-size:1rem;
}
.footer-box3 input{
    outline:none;
    border-radius:9px;
    padding-left:5px;
}
.footer-box3{
    color:white;
}
.social-media{
    margin-left:15px;
}
.footer a{
    text-decoration:none;
    color:black;
}
footer button{
    background-color:transparent;
    color:white;
    border:none;
}
footer button:hover{
    background-color:transparent;
    color:white;
    cursor:pointer;
}
