body{
    background-image: url("..\\assets\\img\\background.png");
    background-repeat: no-repeat;
    background-size: cover ;
    font: 30px;
    color: black;
    margin-left: 10px;
}
.right-box{
    height:400px;
    width:400px;
    display:flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 25px 25px 35px 25px;
    justify-content: center;
    align-items: center; 
    
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items vertically */
    align-items: center; 
    
}
.left-box{
    height:600px;
    width:70%;
    
}
.open-map-button {
    display: block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px;
}

.open-map-button:hover {
    background-color: #0056b3;
}
.right-box{
    display: none;
    height: 0px;
}
.left-down-box {
    height: 340px;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.5); /* Corrected syntax for rgba */
    margin-top: 0px;
    padding: 25px; /* Corrected syntax for padding */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
}

#high{
    font-size: 40px;
    color: white;
}

.lef-up{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}
h1{
    font-size: 40px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}
h2{
    margin-left:20px;
    font-weight: normal;
}
.container-header{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 30px;
}
.map-container {
    height: 400px;
    width: 1000px;
    border-radius: 10px;
}
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.popup-content .map-container {
    flex: 1;
    width: 100%;
    height: 100%;
}

.close-popup-button {
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 5px 10px;
    background: #ccc;
    border: none;
    border-radius: 5px;
}