body{
    background:url('../assets/img/background.png');
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home-box{
    display:grid;
    grid-template-columns:repeat(2, 5fr);
}

.home-box .home-box1{
    display:flex;
    justify-content:center;
    align-items:center;
}

.explore{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.explore-container{
    display:flex;
    flex-direction:column;
    align-items:center;
}

input{
    width:200%;
    margin-top:10px;
    background-color:rgba(249, 249, 249, 0.5);
    outline: none;
    border-radius: 70px;
    padding: 10px;
    margin-top: -10px;
    color: white;
    font-size: 20px;
}
input:focus{
    background-color:white;
    border-radius: 0px;
    color: black;
}

.explore-text{
    font-size:450%;
    color:black;
}

.home-box .home-box2{
    background-color:rgba(249, 249, 249, 0.5);
    padding:20px;
    border:1px solid #ddd;
    box-shadow:0 2px 4px rgba(0, 0, 0, 1);
    text-align:left;
    border-radius:10px;
    width: 450px;
}
i{
    size: 50px;
}
h3{
    font-size: 50px;
}
p{
    font-size: 25px;
}
progress{
    margin-right:10px;
}
.item{
    display: flex;
    justify-content: space-between;
}
.home-box2{
    margin-top: 100px;
    margin-left: 50px;
}
.playwrite-hu{
    font-family:"Playwrite HU", cursive;
    font-optical-sizing:auto;
    font-weight:60;
    font-style:normal;
}
button{
    background-color:transparent;
    color:black;
    border:none;
    margin-top: 70px;
}
button:hover{
    background-color:white;
    color:black;
    cursor:pointer;
}
